// colors
$bg-main: #ffffff;
$bg-main: #ffffff;
$bg-alt: #dae0e6;
$text: #1c1c1c;
$btn: #0079d3;
$accent: #ff4500;

// paddings and margins
$pd-bg: 40px;
$pd-sm: 20px;

$layout-sides: max(20px, calc(50% - 720px));

// misc
$shadow: 0px 3px 10px 0px #0000000d;

/*
@media (prefers-color-scheme: dark) {
  :root {
  }
}
*/
