// colors
$bg-main: #ffffff;
$bg-alt: #dae0e6;
$text: #1c1c1c;
$btn: #0079d3;
$accent: #ff4500;

// misc
$shadow: 0px 3px 10px 0px #0000000d;
$radius: 18px;

/*
@media (prefers-color-scheme: dark) {
  :root {
  }
}
*/
